<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    var hoge = 'fuga'
</script>
<body>
    <h1>HELLO WORLD</h1>
    <script>
    "<p>{{ dummy }}</p><p>{{ hoge }}</p>"
    </script>
</body>
</html>
